<div id="create-content">
  <%= simple_form_for @review do |f| %>

    <div class="form-group">
      <%= f.input :place, label: "Place", label: "Name of Location" %>
    </div>

    <div class="form-group">
      <%= f.input :image, as: :file, label: "Upload Photo" %>
    </div>

    <div class="form-group">
      <%= f.input :comment, label: "Comment", input_html: { maxlength: 50 } %>
    </div>

    <div class="form-group">
      <%= f.input :rating, collection: [1, 2, 3, 4, 5], label: "Rating" %>
    </div>

    <%= f.submit "Submit", class: "btn btn-primary" %>
  <% end %>
</div>
