<!DOCTYPE html>
<html lang="en">
<%= javascript_include_tag 'favorites/index' %>
<%= javascript_include_tag 'favorites/suggested' %>
<%= javascript_include_tag 'favorites/mylist' %>
<%= javascript_include_tag 'favorites/create' %>

<div style="height:100vh;width:100vw;" data-controller="home-map">
  <!-- location input -->
  <div id="input-fields" class="container p-3" style="position:absolute; top:0px; z-index:1;">
    <div class="input-group mb-3 d-none">
      <input type="text" class="form-control" id="origin">
      <div class="input-group-append">
        <button class="btn btn-primary"><i class="fa-solid fa-arrow-right"></i></button>
      </div>
    </div>
    <div class="input-group">
      <input type="text" class="form-control" id="destination">
      <div class="input-group-append">
        <button class="btn btn-primary"><i class="fa-solid fa-arrow-right"></i></button>
      </div>
    </div>
  </div>
  <!-- map -->
  <div id="draggable-panel" class="bg-white" data-controller="panel-resizer">
      <!-- draggable thingy -->
    <div id="resizer" class="w-100 d-flex align-items-center" data-action="mousedown->panel-resizer#grab touchstart->panel-resizer#grab">
      <hr id="panel-top-line">
    </div>
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Reviewed Places</title>
      <%= stylesheet_link_tag 'application', media: 'all' %>
      <%= javascript_include_tag 'application' %>
    </head>
    <body>
      <div class="container">
        <h1 class="text-center">Reviewed Places</h1>

        <!-- Buttons -->
        <%= render 'favorites/buttons' %>

        <br>

        <!-- Content Sections -->
        <%= render 'favorites/suggested_content' %>
        <%= render 'favorites/mylist_content' %>
        <%= render 'favorites/create_content' %>
      </div>


      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
  </div>
</div>
</html>
