<!-- frame -->
<div style="height:100vh;width:100vw;" data-controller="home-map">
  <!-- location input -->
  <div id="input-fields" class="container p-3" style="position:absolute; top:0px; z-index:1;">
    <div class="input-group mb-3 d-none" data-home-map-target="originInput">
      <input type="text" class="form-control" id="origin">
      <!-- <div class="input-group-append">
        <button class="btn btn-primary"><i class="fa-solid fa-arrow-right"></i></button>
      </div> -->
    </div>
    <div class="input-group">
      <input type="text" class="form-control" id="destination">
      <!-- <div class="input-group-append">
        <button class="btn btn-primary"><i class="fa-solid fa-arrow-right"></i></button>
      </div> -->
    </div>
    <button class="btn btn-secondary d-none" id="go-button" data-action="click->home-map#direct">Go</button>
  </div>
  <!-- map -->
  <div id="map" style="z-index: 0; height: 100vh;" data-action="load@window->home-map#initMap"></div>
  <!-- draggable-panel -->
  <div id="draggable-panel" class="bg-white" data-controller="panel-resizer">
    <!-- draggable thingy -->
    <div id="resizer" class="w-100 d-flex align-items-center" data-action="mousedown->panel-resizer#grab touchstart->panel-resizer#grab">
      <hr id="panel-top-line">
    </div>
    <div id="panel-content">
      <!-- Place description -->
      <div>
        <div id="place-description" class="container mt-3 d-none">
          <div class="row">
            <div class="col">
              <h2 data-home-map-target="name"></h2>
              <%# <p>Address:</p> %>
              <div class="d-flex">
                <i id="icon" class="fa-solid fa-location-crosshairs"></i>
                <p id="description" data-home-map-target="address"></p>
              </div>
              <%# <p>phone-number:</p> %>
              <div class="d-flex">
                <i id="icon" class="fa-solid fa-phone"></i>
                <p id="description" data-home-map-target="phone"></p>
              </div>
              <%# <p>photos:</p> %>
              <div data-home-map-target="photo"></div>
              <button class="btn btn-secondary" data-action="click->home-map#showStuff" id="directions-button">Directions</button>
            </div>
          </div>
        </div>
        <!-- Reviews -->
        <div id="reviews-container" class="d-none p-3 m-3">
          <%# review partial created in pages_controller in #render_reviews and inserted in home_map_controller fetch %>
          <%#= "no reviews" unless @places.present? %>
        </div>
      </div>
      <!-- home -->
      <div id="initial-content">
        <h1 class="mt-3">Welcome to Stroller city!</h1>
        <p>Accessible routing, made easy</p>
        <hr>
        <div class="d-flex justify-content-between align-items-center mb-3">
          <% if user_signed_in? %>
            <%= cl_image_tag current_user.photo.key, class: "avatar-large me-3" %>
            <h3 class="flex-grow-1 m-0"><strong><%= current_user.username %></strong></h3>
            <%= link_to destroy_user_session_path, data: { turbo_method: :delete }, class: "text-decoration-none" do %>
              <h3 class="text-info m-0">Logout</h3>
            <% end %>
          <% else %>
            <%= image_tag "guest.png", class: "avatar-large me-3" %>
            <h3 class="flex-grow-1 m-0"><strong>Guest</strong></h3>
            <%= link_to new_user_session_path, class: "text-decoration-none" do %>
              <h3 class="text-info m-0">Login</h3>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div>
      <button class="icon-button rounded-pill">🕒 Recent</button>
      <button class="icon-button rounded-pill">🔥 Recommended</button>
      <button class="icon-button rounded-pill">👶 Saved</button>
    </div>
    <div class="card" style="margin: 10px;">
      <!-- render recents -->
      <%= render 'recent' %>
    </div>
  </div>
</div>
