<!-- frame -->
<div style="height:100vh;width:100vw;" data-controller="home-map">
  <!-- location input -->
  <div id="input-fields" class="container p-3" style="position:absolute; top:0px; z-index:1;">

    <div class="d-flex justify-content-between input-group mb-3 d-none" data-home-map-target="originInput">
      <input type="text" class="form-control" placeholder="Where do you wanna go?" id="origin">
      <button class="input-button"><i class="fa-solid fa-location-dot"></i></button>
    </div>

    <div class="d-flex justify-content-between input-group mb-3 d-none">
      <input type="text" class="form-control" placeholder="Where do you wanna go?" id="destination">
      <button class="input-button"><i class="fa-solid fa-magnifying-glass"></i></button>
    </div>

    <div class="input-group">
      <input type="text" class="form-control" id="destination">
      <!-- <div class="input-group-append">
        <button class="btn btn-primary"><i class="fa-solid fa-arrow-right"></i></button>
      </div> -->
    </div>


  </div>



  <!-- map -->
  <div id="map" style="z-index: 0; height: 100vh;" data-action="load@window->home-map#initMap"></div>
  <!-- draggable-panel -->
  <div id="draggable-panel" class="bg-white w-100" data-controller="panel-resizer">
    <!-- draggable thingy -->
    <div id="resizer" class="w-100 d-flex align-items-center" data-action="mousedown->panel-resizer#grab touchstart->panel-resizer#grab">
      <hr id="panel-top-line">
    </div>
    <div id="panel-content w-100">
      <!-- Place description -->
      <%= render partial: 'place_description' %>
      <!-- home -->
      <div id="initial-content">
        <h1 class="mt-3">Welcome to Stroller city!</h1>
        <p>Accessible routing, made easy</p>
        <hr>
        <div class="d-flex justify-content-between align-items-center mb-3">
          <% if user_signed_in? %>
            <%= cl_image_tag current_user.photo.key, class: "avatar-large me-3" %>
            <h3 class="flex-grow-1 m-0"><strong><%= current_user.username %></strong></h3>
            <%= link_to destroy_user_session_path, data: { turbo_method: :delete }, class: "text-decoration-none" do %>
              <h3 class="text-info m-0">Logout</h3>
            <% end %>
          <% else %>
            <%= image_tag "guest.png", class: "avatar-large me-3" %>
            <h3 class="flex-grow-1 m-0"><strong>Guest</strong></h3>
            <%= link_to new_user_session_path, class: "text-decoration-none" do %>
              <h3 class="text-info m-0">Login</h3>
            <% end %>
          <% end %>
        </div>
        <div>
          <button id="recent-p"class="icon-button rounded-pill" data-action="click->home-map#ikumibutton">🕒 Recent</button>
          <button id="recommended-p" class="icon-button rounded-pill" data-action="click->home-map#ikumibutton">🔥 Recommended</button>
          <button id="saved-p" class="icon-button rounded-pill" data-action="click->home-map#ikumibutton">👶 Saved</button>
        </div>
        <div class="card ikumi-container" style="margin: 10px;">
          <!-- render recents -->
          <%= render 'recent' %>
          <!-- render recommended -->
          <%= render 'recommended' %>
        </div>
      </div>
    </div>
  </div>
</div>
