<!-- frame -->
<div style="height:100vh;width:100vw;" data-controller="home-map">
  <%= render 'top_part' %>

  <!-- map -->
  <div id="map" style="z-index: 0; height: 80vh;" data-action="load@window->home-map#initMap"></div>

  <!-- draggable-panel -->
  <div id="draggable-panel" class="bg-white w-100 px-3" data-controller="panel-resizer" style="z-index: 0;">
    <!-- draggable thingy -->
    <div id="resizer" class="w-100 d-flex align-items-center bg-white" style="position: sticky; top: 0;" data-action="mousedown->panel-resizer#grab touchstart->panel-resizer#grab">
      <hr id="panel-top-line">
    </div>

    <div id="panel-content" class="w-100">
      <!-- Place description -->
      <%= render partial: 'place_description' %>

      <!-- home -->
      <div id="initial-content" class="w-100">

        <div class="container w-100">
          <h3 class="mt-4"><strong>Places</strong></h3>
          <%= render 'ikumi_buttons' %>
          <div class="card ikumi-container mx-0 my-3 w-100" style="margin: 10px;">
            <%= render 'recent' %>
            <%= render 'recommended' %>
          </div>
        </div>

        <div class="container" id="javier-container">
          <h3><strong>Reviews</strong></h3>

          <!-- Buttons -->
          <%= render 'javier/buttons' %>
          <br>
          <!-- Content Sections -->
          <%= render 'javier/suggested_content' %>
          <%= render 'javier/mylist_content' %>
          <%= render 'javier/create_content' %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal for tags -->
<div class="modal fade p-0 m-0" id="addTagsModal" tabindex="-1" role="dialog" aria-labelledby="addTagsModal" aria-hidden="true" data-controller="place-tag">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add tags</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="placeTagsForm" action="" method="POST" data-action="submit->place-tag#sendStuff">
        <div class="modal-body px-3 mx-3" style="font-size: 20px;">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="place-tag-1" name="stroller rentals">
            <label class="custom-control-label" for="place-tag-1">stroller rentals</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="place-tag-2" name="nursing rooms">
            <label class="custom-control-label" for="place-tag-2">nursing rooms</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="place-tag-3" name="diaper changing station">
            <label class="custom-control-label" for="place-tag-3">diaper changing station</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="place-tag-4" name="stroller-friendly entrance">
            <label class="custom-control-label" for="place-tag-4">stroller-friendly entrance</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="place-tag-5" name="elevators">
            <label class="custom-control-label" for="place-tag-5">elevators</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="place-tag-6" name="high chairs">
            <label class="custom-control-label" for="place-tag-6">high chairs for babies</label>
          </div>
          <input type="hidden" id="hiddenPlaceId" name="placeId" value="">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>
