<!-- frame -->
<div style="height:100vh;width:100vw;" data-controller="home-map">
  <%= render 'top_part' %>

  <!-- map -->
  <div id="map" style="z-index: 0; height: 100vh;" data-action="load@window->home-map#initMap"></div>

  <!-- draggable-panel -->
  <div id="draggable-panel" class="bg-white w-100" data-controller="panel-resizer" style="z-index: 0;">
    <!-- draggable thingy -->
    <div id="resizer" class="w-100 d-flex align-items-center" data-action="mousedown->panel-resizer#grab touchstart->panel-resizer#grab">
      <hr id="panel-top-line">
    </div>

    <div id="panel-content" class="w-100">
      <!-- Place description -->
      <%= render partial: 'place_description' %>

      <!-- home -->
      <div id="initial-content" class="w-100">

        <div class="container w-100">
          <h3 class="mt-3"><strong>Places</strong></h3>
          <%= render 'ikumi_buttons' %>
          <div class="card ikumi-container mx-0 my-3 w-100" style="margin: 10px;">
            <%= render 'recent' %>
            <%= render 'recommended' %>
          </div>
        </div>

        <div class="container" id="javier-container">
          <h3><strong>Reviews</strong></h3>

          <!-- Buttons -->
          <%= render 'javier/buttons' %>
          <br>
          <!-- Content Sections -->
          <%= render 'javier/suggested_content' %>
          <%= render 'javier/mylist_content' %>
          <%= render 'javier/create_content' %>
        </div>
      </div>
    </div>
  </div>
</div>
