<!-- app/views/routes/_route.html.erb -->
<div class="route card p-3 m-3 shadow-sm">
  <div class="d-flex justify-content-between">
    <h2><i class="fa-solid fa-route text-secondary

"></i> Route <%= route['summary']['no'] %></h2>
    <div>
      <i class="fa-solid fa-baby-carriage"></i> <%= 5.times do %><i class="fa-solid fa-star text-warning"></i><%end%>
    </div>
  </div>
  <p class="text-center mt-3"><i class="fa-solid fa-stopwatch"></i> <%= route['summary']['move']['time'] %> min | <i class="fa-solid fa-ruler-horizontal"></i> <%= route['summary']['move']['distance'] %> m | <i class="fa-solid fa-shoe-prints"></i> <%= route['summary']['move']['walk_distance'] %> m | <strong>¥</strong> <%= route['summary']['move']['fare']['unit_0'] %></p>
  <% # Extract and list the transit stations %>
  <% stations = route['sections'].select { |section| section['node_types']&.include?('station') }.map { |station| station['name'] } %>
  <ul class="list-group list-group-horizontal mb-3">
    <li class="list-group-item list-group-item-secondary"><i class="fa-solid fa-train-subway"></i>(<%= stations.size %>): </li>
    <% stations.each do |station| %>
      <li class="list-group-item"><%= station %></li>
    <% end %>
  </ul>
  <%= link_to "", route_path(route['summary']['no']), class: 'btn btn-primary fa-solid fa-arrow-right-long' %>
</div>
