<!-- app/views/routes/_route.html.erb -->
<div class="route card p-3 m-3 shadow-sm">
  <div class="d-flex justify-content-between">
    <h2><i class="fa-solid fa-route text-secondary"></i> Route <%= route['summary']&.dig('no') || 'Unknown' %></h2>
    <div>
      <i class="fa-solid fa-baby-carriage text-warning"></i>
      <%# <%= route.rating %>
      <p>(5) </p>
    </div>
  </div>
  <div class="routes-summary-bar">
    <ul class="stats-list">
      <li><i class="fa-solid fa-clock"> </i> <%= route['summary']&.dig('move', 'time') || 'N/A' %> min </li>
      <li><i class="fa-solid fa-location-pin"> </i> <%= route['summary']&.dig('move', 'distance') || 'N/A' %> m</li>
      <li><i class="fa-solid fa-person-walking"> </i> <%= route['summary']&.dig('move', 'walk_distance') || 'N/A' %> m</li>
      <li><i class="fa-solid fa-yen-sign"> </i> <%= route['summary']&.dig('move', 'fare', 'unit_0') || 'N/A' %></li>
    </ul>
    <% if route['summary']&.dig('no').present? %>
      <%= link_to "Go", route_path(route['summary']['no']), class: 'btn btn-primary' %>
    <% end %>
  </div>
  <% # Extract and list the transit stations %>
  <% stations = route['sections'].select { |section| section['node_types']&.include?('station') }.map { |station| station['name'] || 'Unknown' } %>
  <ul class="list-group list-group-horizontal mb-3">
    <li class="list-group-item list-group-item-secondary"><i class="fa-solid fa-train-subway"></i>(<%= stations.size %>): </li>
    <% stations.each do |station| %>
      <li class="list-group-item"><%= station %></li>
    <% end %>
  </ul>
</div>
