<% first_point_section = @route['sections'].find { |s| s['type'] == 'point' && s['name'] == 'start' } %>
<% last_point_section = @route['sections'].reverse.find { |s| s['type'] == 'point' && s['name'] == 'goal' } %>
<div class="section mb-4">
  <% if section['type'] == 'point' %>
    <p>
      <% if section == first_point_section %>
        <i class="fa-solid fa-location-dot text-success"></i> <%= @origin %>
      <% elsif section == last_point_section %>
        <i class="fa-solid fa-location-pin text-danger"></i> <%= @destination %>
      <% else %>
        <%= section['name'] %>
      <% end %>
      <% if section['gateway'].present? %>
        (Enter/Exit at <%= section['gateway'] %>)
      <% end %>
    </p>
  <% elsif section['type'] == 'move' %>
    <% if section['move'] == 'walk' %>
      <p>
        <i class="fa-solid fa-person-walking"></i> Walk <%= section['distance'] %> m.
        <%= section['time'] %> mins
      </p>
      <% if section['line_name'].present? %>
        <p>
          <i class="fa-solid fa-elevator"></i> Take the elevator to <%= section['line_name'] %>.
        </p>
      <% end %>
    <% else %>
      <% if section['transport'].present? %>
        <p>
          <i class="fa-solid fa-train"></i> Take the
          <span style="background-color:<%= section['transport']['color'] %>;"><%= section['transport']['name'] %></span>
          from <strong><%= section['transport']['links'][0]['from']['name'] if section['transport']['links'] && section['transport']['links'][0] %></strong>
          to <strong><%= section['transport']['links'][0]['to']['name'] if section['transport']['links'] && section['transport']['links'][0] %></strong>.
        </p>
      <% else %>
        <p>Transport details not available for this step.</p>
      <% end %>
    <% end %>
  <% else %>
    <p>Unknown step in the journey. Please check the details.</p>
  <% end %>
</div>
