<% first_point_section = @route['sections'].find { |s| s['type'] == 'point' && s['name'] == 'start' } %>
<% last_point_section = @route['sections'].reverse.find { |s| s['type'] == 'point' && s['name'] == 'goal' } %>
<div class="section mb-4">
  <% if section['type'] == 'point' %>
    <p data-routes-map-target="coordinates">
      <% if section == first_point_section %>
        <i class="fa-solid fa-location-dot text-success"></i> <%= @origin %>
      <% elsif section == last_point_section %>
        <i class="fa-solid fa-location-pin text-danger"></i> <%= @destination %>
      <% else %>
        <i class="fa-solid fa-building"> </i> <%= section['name'] %> Station
      <% end %>
      <% if section['gateway'].present? %>
        <i class="fa-solid fa-elevator"> </i> Take the elevator near <%= section['gateway'] %>
      <% end %>
    </p >
  <% elsif section['type'] == 'move' %>
    <% if section['move'] == 'walk' %>
      <p data-routes-map-target="coordinates">
        <i class="fa-solid fa-person-walking"></i> Walk <%= section['distance'] %>m for
        <%= section['time'] %> mins
      </p>
    <% else %>
      <% if section['transport'].present? %>
        <p data-routes-map-target="coordinates">
          <i class="fa-solid fa-train-subway"> </i> Take
          <span style="background-color:<%= section['transport']['color'] %>;"><%= section['transport']['name'] %></span>
          from <strong><%= section['transport']['links'][0]['from']['name'] if section['transport']['links'] && section['transport']['links'][0] %></strong>
          to <strong><%= section['transport']['links'][0]['to']['name'] if section['transport']['links'] && section['transport']['links'][0] %></strong>.
        </p>
      <% else %>
        <p>Transport details not available for this step.</p>
      <% end %>
    <% end %>
  <% else %>
    <p>Unknown step in the journey. Please check the details.</p>
  <% end %>
</div>
