<div class="section mb-4">
  <% if section['type'] == 'point' %>
    <p>
      <%= section['name'] %><br>
      <!--<strong>Coordinates:</strong> (Lat: <%= section['coord']['lat'] %>, Lon: <%= section['coord']['lon'] %>)-->
    </p>
  <% elsif section['type'] == 'move' %>
    <% if section['move'] == 'walk' %>
      <p>
        <i class="fa-solid fa-person-walking"></i> Walk <%= section['distance'] %> meters. This should take about
        <%= section['time'] %> minutes.
      </p>
    <% else %>
      <% if section['transport'].present? %>
        <p>
          <i class="fa-solid fa-train"></i> Take the <%= section['transport']['name'] %> from
          <strong><%= section['transport']['links'][0]['from']['name'] if section['transport']['links'] && section['transport']['links'][0] %></strong> to
          <strong><%= section['transport']['links'][0]['to']['name'] if section['transport']['links'] && section['transport']['links'][0] %></strong>.
        </p>
        <p>
          Duration: <%= section['time'] %> minutes, Distance: <%= section['distance'] %> meters, Fare:
          <strong>¥</strong> <%= section['transport']['fare']['unit_0'] if section['transport']['fare'] %>
        </p>
      <% else %>
        <p>Transport details not available for this step.</p>
      <% end %>
    <% end %>
  <% else %>
    <p>Unknown step in the journey. Please check the details.</p>
  <% end %>
</div>
