<!-- app/views/routes/index.html.erb -->
<h1>Available Routes</h1>
<p>start coord: <%= @start_lat %>,<%= @start_long %></p>
<p>end coord: <%= @end_lat %>,<%= @end_long %></p>
<% if @navitime_routes && @navitime_routes['items'].present? %>
  <% @navitime_routes['items'].each do |route| %>
    <%= render partial: 'routes', locals: { route: route } %>
  <% end %>
<% else %>
  <p>No routes available.</p>
<% end %>
