<!-- frame -->
<div style="height:100vh;width:100vw;" data-controller="routes-map" data-route="<%= @route.to_json %>">
  <!--  -->
  <div class="d-none"><input id="input-fields" type="text"></div>
  <!-- map -->
  <div id="map" data-routes-map-target="map" style="z-index: 0; height: 60vh;" data-action="load@window->routes-map#initMap"></div>
  <!-- draggable-panel -->
  <div id="draggable-panel" class="bg-white w-100" data-controller="" style="height: 40vh;padding-top: 16px;">
    <div id="panel-content" class="w-100" data-routes-map-target="content">
      <!-- Panel content -->
      <div class="">
      </div>
      <!-- route metrics dashboard -->
      <div class="routes-summary-bar ps-1">
        <ul class="stats-list">
          <li><i class="fa-solid fa-clock"> </i> <%= @route['summary']&.dig('move', 'time') || 'N/A' %> min </li>
          <li><i class="fa-solid fa-location-pin"> </i> <%= @route['summary']&.dig('move', 'distance') || 'N/A' %> m</li>
          <li><i class="fa-solid fa-person-walking"> </i> <%= @route['summary']&.dig('move', 'walk_distance') || 'N/A' %> m</li>
          <li><i class="fa-solid fa-yen-sign"> </i> <%= @route['summary']&.dig('move', 'fare', 'unit_0') || 'N/A' %></li>
        </ul>
      </div>
      <div class="route-summary-trip">
        <p class="route-summary-trip-text">
          <span class="material-symbols-outlined text-success">
            location_on
          </span><span class="material-symbols-outlined">
            chevron_right
          </span>
          <% @route['sections'].each_with_index do |section, index| %>
            <% if section['type'] == 'move' && section['move'] == 'walk' %>
              <span class="material-symbols-outlined">directions_walk</span><span class="material-symbols-outlined">
                chevron_right
              </span>
            <% elsif section['type'] == 'move' && section['move'] == 'local_train' %>
              <span class="material-symbols-outlined"
                    style="color:<%= section['transport']['color'] %>;">directions_subway</span><span class="material-symbols-outlined">
                chevron_right
              </span>
            <% elsif section['type'] == 'point' && section['node_id'].present? && section['gateway'].nil? %> <!-- This is for transfer points -->
              <span class="material-symbols-outlined">
                transfer_within_a_station
              </span><span class="material-symbols-outlined">
                chevron_right
              </span>
            <% end %>
          <% end %>
          <span class="material-symbols-outlined text-danger">
            flag
          </span>
        </p>
      </div>
      <% if @route.present? %>
        <div class="m-0 p-1 instructions-container">
          <!-- Render the partial that handles the route sections -->
          <%= render partial: 'section', locals: { route: @route } %>
        </div>
      <% else %>
        <p>No route details available.</p>
      <% end %>
    </div>
  </div>
</div>
