<div class="d-none">
  <div data-controller="map"
        data-map-api-key-value="<%= ENV['GOOGLE_MAPS_API_KEY'] %>"
        data-map-coordinates-value="<%= json_escape(@route_coordinates.to_json) %>"
        style="width: 100%; height: 800px;">
    <div data-map-target="mapElement" style="width: 100%; height: 100%;"></div>
    <div data-map-target="markerContainer"></div>
  </div>
  <p>Start:<%= @route.start.address %></p>
  <p>End:<%= @route.end.address %></p>
</div>

<!-- display instructions -->
<button class="btn btn-primary my-3">< Back</button>
<div>
  <!-- <h3>Route <%= @route.id %></h3> -->
  <div class="pt-4">
    <% @route.trips.each_with_index do |trip, index| %>
      <div class="ms-4 me-4" data-controller="simple-chevron-hide">
        <div class="d-flex">
          <div>
            <i class="fa-solid fa-chevron-right me-3" data-action="click->simple-chevron-hide#toggle" id="chevronDetail<%=index%>"></i>
          </div>
          <div>
            <h3><%= trip.travel_mode %></h3>
          </div>
        </div>
        <div class="trip-details d-none" id="detail<%=index%>">
          <!-- <p>Details (<%= trip.details.count %>)</p> -->
          <% if trip.details.any? %>
            <% trip.details.each_with_index do |detail, index| %>
              <p><%= index + 1 %>. <%= detail.title %></p>
            <% end %>
          <% else %>
            <p>Line: <%= trip.title %></p>
            <div class="d-flex justify-content-between">
              <p class="m-0">Start stop: <%= trip.start_stop_name %></p>
              <i class="fa-regular fa-image"></i>
            </div>
            <% if trip.start_stop_name == "Yūrakuchō Station" %>
              <% station_name = "yurakucho" %>
            <% else %>
              <% station_name = trip.start_stop_name.split(" ").first.downcase %>
            <% end %>
            <img class="my-3" src="https://www.tokyometro.jp/station/yardmap_img/figure_yardmap_<%=station_name%>_all.jpg" alt="" style="height: 275px;">

            <div class="d-flex justify-content-between">
              <p class="m-0">End stop: <%= trip.end_stop_name %></p>
              <i class="fa-regular fa-image"></i>
            </div>
            <% if trip.end_stop_name == "Yūrakuchō Station" %>
              <% station_name = "yurakucho" %>
            <% else %>
              <% station_name = trip.end_stop_name.split(" ").first.downcase %>
            <% end %>
            <img class="my-3"src="https://www.tokyometro.jp/station/yardmap_img/figure_yardmap_<%=station_name%>_all.jpg" alt="" style="height: 275px;">
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<%= link_to new_place_review_path(Place.where(address: "Yebisu Garden Place, 4 Chome-20 Ebisu, Shibuya City, Tokyo 150-0013")) do %>
  <button class="btn btn-secondary mt-3">End trip</button>
<% end %>
