<!DOCTYPE html>
<html>
  <head>
    <title>StrollerCity</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_MAPS_API_KEY']}&libraries=places",
                            async: true,
                            defer: true,
                            "data-turbolinks-eval": false %>
    <%= javascript_include_tag 'favorites/index' %>
    <%= javascript_include_tag 'favorites/suggested' %>
    <%= javascript_include_tag 'favorites/mylist' %>
    <%= javascript_include_tag 'favorites/create' %>

    <!-- PWA setup-->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
    <%= render 'shared/ios_pwa_links' %>
  </head>
  <body><%= render "shared/navbar" %>
    <%= render "shared/flashes" %>
    <%= yield %>
  </body>
</html>
